/* For demo purposes, the themeProvider is scoped to the :host provided by <sds-theme-provider> */

:host {
    /* ================
  CodeScience Styling API
  ================= */

    /* Public */

    /* CodeScience API */

    /* Private */

    --cs-brand-accessible: #ffd900;
    --sds-c-button-brand-color-text: #053361;
    --sds-c-button-color-text: #053361;
    --sds-c-button-brand-outline-color-border: #053361;

    /* SDS API */

    --sds-g-brand-accessible: var(--cs-brand-accessible);
}
