@font-face {
  font-display: fallback;
  font-family: "Salesforce Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SalesforceSans-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Salesforce Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/SalesforceSans-Bold.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
  padding: 2rem;
  -webkit-tap-highlight-color: transparent;
}

:not(:defined) {
  visibility: hidden;
}

#componentGrid {
  display: grid;
}

#componentGrid > * {
  box-sizing: border-box;
  padding: 0.5rem;
}

body:not(.show-lightning) .lightning {
  display: none;
}
body:not(.show-plain) .plain {
  display: none;
}

.lightning :not(.componentName) {
  font-family: Salesforce Sans, Arial, sans-serif;
  font-size: 0.8125rem;
}

h1 {
  background: white;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

h2 {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}

.placeholder {
  height: 100px;
  width: 100px;
}

/* TODO: Remove card styles once carousels use real card components */
.card {
  border-radius: 0.25rem;
  border: 1px solid #dddbda;
  box-sizing: border-box;
}

.cardDetails {
  background: #fff;
  box-sizing: border-box;
  height: 6.625rem;
  padding: 0.75rem;
  text-align: center;
}

.cardImage {
  display: block;
  width: 100%;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.elixImage {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  vertical-align: middle;
}
